<div class="file">
  {{instrumentation-gutter instrumentations=model.instrumentations}}
  {{highlight-js code=model.code
                 lang='js'
                 hasLineNumbers=true}}
</div>

{{outlet}}
